#exclude all object files
*.o
*.pyc
*.log
bin/debug/kss
bin/debug/nontpmkss
bin/debug/nontpmrpcore
bin/debug/rpapiTest
bin/debug/rpapicryputil
bin/debug/rpcoresvc
bin/debug/rputil
bin/debug/signerutil-g
bin/debug/tcsd-rpcoresvc
bin/debug/titest
bin/debug/tpmextend 
bin/debug/tpmtest-vTCI
bin/debug/nontpmrpcore
bin/debug/rp_proxy
bin/debug/verifier
bin/debug/*
bin/release/vTCI
bin/release/*
src/fileProxy/Code/TPMUser/vTCI.exe
src/rptpm/TPMtcsd/test/sealtest.exe
lib/librpchannel-g.so
lib/librpcrypto-g.a
lib/librpmeasurer-g.a
lib/librptpm-dir-g.a
lib/librptpm-emu-g.a
lib/librptpm-tcsd-g.a
lib/*
src/rptest/rptrusttest/testapp
src/rptest/testapp/testapp
fileProxy/Code/TPMUser/vTCI.exe
rptpm/TPMtcsd/test/sealtest.exe
.svn
